<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="w-25 rounded-circle" src="assets/img/logo1.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Listar Contas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-3" routerLink="/add">Cadastrar Contas</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active" routerLink="/editar/:id">Gerenciar</a>
          </li> -->

