nav a  {
    font-size: 22px;
     color: #D4AF37;
  }
  
  button{
   border: 1px solid #D4AF37;
   color: #D4AF37
  }
  
  nav{
    border-top: 3px solid #D4AF37;
    border-bottom: 3px solid #D4AF37;
  }
  
  